xmlvalidation/src/main/resources/StudentXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/StudentXMLSchema"
	xmlns:tns="http://www.example.org/StudentXMLSchema"
	elementFormDefault="qualified">

	<element name="students">
		<complexType>
			<sequence>
				<element name="name" type="string"></element>
				<element name="r_no" type="int"></element>
			</sequence>
		</complexType>
	</element>
</schema>